#battlefield-bg {
	width: 1152px;
	height: 768px;
	background-image: url("img/grass.png");
	background-repeat: repeat;
	float: left;
}

#battlefield {
	width: 1152px;
	height: 768px;
}

#control-panel {
	border: 1px solid green;
	float: left;
	font-size: 12px;
	margin-left: 10px;
}

input {
	margin-left: 15px;
}
select {
	margin-left: 15px;
}
label {
	display: block;
	width: 70px;
	float: left;
	font-size: 12px;
	clear: both;
}
.add-unit {
	display: block;
	clear: both;
	margin-left: 85px;
}

.ui-dialog {
	font-size: 12px;
}

.unit {
	background-color: black;
	color: white;
	cursor: move;
	min-height: 40px;
	padding: 5px;
	position: absolute;
	word-wrap: break-word;
	margin-bottom: 2em;
	text-align: center;
	box-shadow: 3px 3px 8px #222;
	z-index: 20;
}

.scenery {
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
}

.unit.player-1 {
	border: 1px solid red;
	left: 550px;
}

.unit.player-2 {
	border: 1px solid blue;
	top: 600px;
	left: 550px;
}

.unit.player-2:after {
	content: '';
	display: block;
	position: absolute;
	top: -20px; /*should be set to -border-width x 2 */
	left: 50%;
	left: -moz-calc(50% - 10px);
	left: -webkit-calc(50% - 10px);
	left: -o-calc(50% - 10px);
	left: calc(50% - 10px);
	width: 0;
	height: 0;
	border-color: transparent transparent blue transparent;
	border-style: solid;
	border-width: 10px;
}

.unit.player-1:after{
	content: '';
	display: block;
	position: absolute;
	top: 100%; /*should be set to 100% */
	left: 50%;
	left: -moz-calc(50% - 10px);
	left: -webkit-calc(50% - 10px);
	left: -o-calc(50% - 10px);
	left: calc(50% - 10px);
	width: 0;
	height: 0;
	border-color: red transparent transparent transparent;
	border-style: solid;
	border-width: 10px;
}